@media (max-width: 800px) {
    .topbar {
        height: 60px;
    }
    .topbar_logo {
        top: 13px;
    }
    .topbar_ui {
        width: 100%;
        height: 60px;
        overflow: auto;
        white-space: nowrap;
        left: 15%;
    }
    .topbar_ui::-webkit-scrollbar {
        display: none;
    }
    .topbar_content {
        font-size: 30px;
        line-height: 10px;
        margin-left: -5%;
        margin-right: 15%;
    }
    h1 {
        font-size: 50px;
    }
    span {
        font-size: 25px;
    }
    input {
        font-size: 30px;
        margin: 30% 1% 5% 0;
        width: 70%;
    }
    button {
        margin: 30% 1% 5% 0;
    }
    .content {
        font-size: 15px;
    }
    .notice {
        font-size: 20px;
        max-width: 100%;
        margin: 5% auto 2% auto;
    }
    .emailEnter {
        width: 85%;
        font-size: 30px;
    }
    textarea {
        width: 85%;
        font-size: 20px;
    }
    .contactButton {
        font-size: 15px;
        width: 85%;
    }
    .bruh {
        margin:auto auto 1000% auto;
    }
}